body{
    background-color: #c9cbce ;
}
.window{
    position: relative;
    box-shadow: 3px 5px rgb(0 0 0 / 0.2);
   display: block;
   background-color: black;
   opacity: 0.5;
   float: right;
   border-radius: 5px;
   height: 530px;
   width: 290px;
   margin: 40px 70px;
}
.window>#wm{
    text-align: center;
    color: blanchedalmond
}
#img{
    padding: 30px 80px 0px ;
    width: 130px;
    height:130px;
}
.window>input{
    background-color: #c9cbce ;
    border-radius: 5px;
    margin-top: 10px;
    width: 85%;
    margin-left: 20px;
    height: 30px;
    border: none;
}
.window>.logIN {
    border-radius: 5px ;
    height: 35px;
    margin: 0px 10px 5px 1px;
    width: 85%;
    margin-left: 20px;
    background-color: #1877F2;
    font-size: 20px;
    color: aliceblue;
}
.Cr{
    border-bottom: 1px solid #000000;
    border-radius: 10px;
    margin: 25px 10px 5px 1px;
    width: 70%;
    background-color: #42B72A;
    height: 50px;
    margin-left: 15%;
    border:solid 1px green;
    margin-top: 30px;
    font-size: 20px;
    color:aliceblue;
    
}
#icon{
    width: 20px;
    height: 20px;

}
.eyesIcon{
    width: 20px;
    margin-left: 50%;
    
}